<h1 class="cyan mb-3">Select collaborative playlist</h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Owner</th>
      <th scope="col">Tracks</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="playlists">
    {{#each items }}
    <tr id="{{@index}}">
      <th scope="row">{{@index}}</th>
      <td><image width="150" height="150" class="img-thumbnail" src="{{images.[0].url}}"></image></td>
      <td>{{name}}</td>
      <td>{{owner.display_name}}</td>
      <td>{{tracks.total}}</td>
      <td>
        <button class="sbtn sbtn-green" id="{{id}}" value="{{@index}}" type="button">
          Select
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
