<img width="{{track.album.images.[0].width}}" height="{{track.album.images.[0].height}}" src="{{track.album.images.[0].url}}"></img>
<div class="container smaller">
<div class="row">
  <div class="col" id="song-info">
    <h2 class="white"><b class="cyan">{{track.name}}</b> <br><small>by</small> <b class="olive">{{#each track.artists}}{{name}}{{#if @last}}{{else}}, {{/if}}{{/each}}</b></h2>
    <h2 class="white"><small>released on</small> <b class="magenta">{{track.album.name}}</b></h2>
  </div>
  <div class="col col-lg-4">
    <div class="vertical-center mx-auto">
      <div id="countdown">
        <div id="countdown-number">20</div>
        <svg>
          <circle r="36" cx="40" cy="40"></circle>
        </svg>
      </div>
      <button class="sbtn sbtn-white mb-1 btn-block" id="added-by" style="display: none;" type="button">
        Added by <br> {{added_by.id}}
      </button>
    </div>
  </div>
</div>
